In [9]:
"""
Task1
Create a Customer Database in SQLite
 • Objective: You will create an SQLite database to manage customer data for a 
fictional bookstore called "Bookshelf Haven." This task will help you practice your 
SQL skills in creating tables, inserting data, and retrieving information.
 • Sample Data: You will create a customers table and populate it with the following 
sample data
"""

import sqlite3
connection = sqlite3.connect('bookstore.db')

cursor = connection.cursor()

create_table_query= ('''
 CREATE TABLE IF NOT EXISTS customers (
    customer_id INTEGER PRIMARY KEY,  -- Unique identifier for each 
customer
    name TEXT NOT NULL,                -- Customer's name, cannot be 
NULL
    email TEXT NOT NULL UNIQUE,        -- Customer's email, cannot be 
NULL and must be unique
    phone TEXT,                        -- Customer's phone number, can 
be NULL
    joined_date DATE DEFAULT CURRENT_DATE  -- Date when the customer 
joined, defaults to the current date
 );
''')

cursor.execute(create_table_query)

OperationalError: near "NULL": syntax error