In [2]:
import numpy as np
import pandas as pd
print("NumPy version:", np.__version__)  #Output the version of Numpy
print("Pandas version:", pd.__version__)  #Output the version of Pandas

NumPy version: 2.2.6
Pandas version: 2.2.3

In [6]:
import numpy as np
arr = np.array([1,2,3,4,5])
print(arr)

[1 2 3 4 5]

In [10]:
#Adding two arrays
import numpy as np
arr1 = np.array([1,2,3])
arr2 = np.array([4,5,6])
arr_sum = arr1+arr2
arr_difference = arr1-arr2
arr_product = arr1*arr2
arr_quotient = arr1/arr2
print("Element wise addition: ", arr_sum)
print("Element wise addition: ", arr_difference)
print("Element wise addition: ", arr_product)
print("Element wise addition: ", arr_quotient)

Element wise addition:  [5 7 9]
Element wise addition:  [-3 -3 -3]
Element wise addition:  [ 4 10 18]
Element wise addition:  [0.25 0.4  0.5 ]

In [8]:
#Dimensions and Shapes
import numpy as np
arr = np.array ([[1,2,3],[4,5,6]])
print(arr.ndim)
print(arr.shape)

2
(2, 3)

In [11]:
import numpy as np
arr = np.array([1,2,3])
print(arr[0])
print(arr[1:2]) #Slicing arrays

1
[2]

In [18]:
#Series
import pandas as pd
data = [1,2,3,4]
series = pd.Series(data)
print("Pandas Series: ")
print(series)
print("First Element in the series: ", series[0])

Pandas Series:
0    1
1    2
2    3
3    4
dtype: int64
First Element in the series:  1

In [21]:
#Dataframe
data_dict = {
    'Name' : ['Alice', 'Bob', 'Charlie'], 
    'Age' : [25, 30, 35],
    'City' : ['Los Angeles', 'New York', 'Chicago']}
df = pd.DataFrame(data_dict)
print("\nPandas DataFrame: ")
print(df)
print(df['Name']) #Displays only the name column
print(df.iloc[0]) #Displays index 0 imformation, Accessing row
print(df.iloc[1])
print(df.iloc[0:2]) #retrieves 0 and 1 index rows

Pandas DataFrame:
      Name  Age         City
0    Alice   25  Los Angeles
1      Bob   30     New York
2  Charlie   35      Chicago
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
Name          Alice
Age              25
City    Los Angeles
Name: 0, dtype: object
Name         Bob
Age           30
City    New York
Name: 1, dtype: object
    Name  Age         City
0  Alice   25  Los Angeles
1    Bob   30     New York

In [24]:
import pandas as pd
data_dict = {
    'Name' : ['Alice', 'Bob', 'Charlie'],
    'Age' : [25, 30, 35]}
df = pd.DataFrame(data_dict, index =['a','b','c']) #Assinging custom indices
print(df.loc['a'])
print(df.loc['a':'b']) #Select rows a to b INCLUSIVE
print(df.loc['a','Name']) #SElect specific value

Name    Alice
Age        25
Name: a, dtype: object
    Name  Age
a  Alice   25
b    Bob   30
Alice